<!doctype html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/2.6.3/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/2.6.3/css/fabric.components.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.16.0/ngOfficeUiFabric.min.js"></script>
    <script src="todo.js"></script>
</head>
<body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [ <a href="" ng-click="todoList.archive()">archive</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </label>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText" size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>

        <br />

        <div>FirstName = {{todoList.getTask.name}}</div>

        <div class="ms-Grid">
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm6 ms-md4 ms-lg2">
                    <div class="ms-u-borderBase">
                        <uif-label>BLA</uif-label>
                        <uif-label required>Name</uif-label>
                        <uif-label>BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA</uif-label>
                    </div>
                </div>
                <div class="ms-Grid-col ms-sm6 ms-md8 ms-lg10">
                    <div class="ms-u-borderBase">
                        <uif-button>Click Me!</uif-button>
                        <uif-choicefield-group ng-model="selectedValue">
                            <uif-choicefield-group-title><label class="ms-Label is-required">Pick a value</label></uif-choicefield-group-title>
                            <uif-choicefield-option uif-type="radio" value="value1">Text 1</uif-choicefield-option>
                            <uif-choicefield-option uif-type="radio" value="value2">Text 2</uif-choicefield-option>
                            <uif-choicefield-option uif-type="radio" value="value3">Text 3</uif-choicefield-option>
                            <uif-choicefield-option uif-type="radio" value="value4">Text 4</uif-choicefield-option>
                        </uif-choicefield-group>
                        <uif-label>BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA</uif-label>
                    </div>
                </div>
            </div>
        </div>

        <uif-button>Click Me!</uif-button>
        <uif-label required>Name</uif-label>
        <uif-label>BLA</uif-label>

        <uif-button>Click Me!</uif-button>
        <label>Click me to toggle: <input type="checkbox" ng-model="disabled"></label><br />
        <uif-searchbox ng-disabled="disabled" />
    </div>
</body>
</html>